*{
    background-color: blanchedalmond;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
    color: maroon;
    font-style: oblique;
}

#title{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
img {
    display: grid;
    float: auto;
    max-width: 900px;
    padding-left: 400px;
    margin: 25px;
}

h3 {
color: chocolate;

}

a {
font-style: italic;
font-weight: 500;
}

div p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

div [p = "Santa Marta"]{
font-weight: bold;
color: brown;
}
