*{
    background-color: blanchedalmond;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {


}
img{
    width: 500px;
    align-items: center;
}
a {
font-weight: bold;
}

intro {


}
